{% extends 'base.html' %}
  {% block content %}
  <section class="contact" id="contact">
    <h1 class="heading">calculator</span></h1>
    <div class="row">
        <div class="col-100">
        <form method="POST" >
          {% if error %}
          <div class="alert alert-danger" role="alert">please enter the value</div>
          {% endif %}
        {% csrf_token %}
          <!-- <div  class="row"> -->
            <!-- <div class="col-100"> -->
            <h1><label>Value 1</label></h1>    
                <input type="text" name="num1" class="form-control"/> <br><br>
                <h1>Select OPR..</h1>
                <select name="opr" class="form-control">
                    <option value="+">+</option>
                    <option value="-">-</option>
                    <option value="*">*</option>
                    <option value="/">/</option>
                </select><br><br>
              <h1><label>Value 2</label></h1>    
                <input type="text" name="num2" class="form-control"/><br><br>
                <button type="submit">calculate</button><br><br>
                <h1><label>OUTPUT</label></h1>    
                <input type="text" value="{{c}}" class="form-control"/><br><br>

                  



                </form>
            </div>
          </div>

          
        </form>
    </div>
</section>










  {% endblock %}
